{{ define "main"}}
<div class="container">
  <article>

    <div class="grid">

      <div class="homepage_article__title">
        <h2>{{.Title}}</h2>
      </div>

      <div class="homepage-article__categories">
        {{- if .Params.categories -}}
        {{- range .Params.categories -}}
        <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{- end -}}
        {{ end }}
      </div>

    </div>
    <div class="homepage-article__date">{{ .Params.date.Format "2006-01-02 15:04" }}</div>
    <div class="homepage-article__author">{{ index .Params.author }}</div>

    <hr />
    <div class="content">
      {{ .Content }}
    </div>

    <div class="homepage-article__tags">
      {{- if .Params.tags -}}
      {{- range .Params.tags -}}
      <span><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">#{{ . }}&nbsp;&nbsp;</a></span>
      {{- end -}}
      {{ end }}
    </div>
  </article>
</div>
{{ end }}
