{{ define "main"}}
<main class="container">
<article>
  {{ .Content }}
</article>
<section>
  <h3>Latest blog post</h3>
  <div class="posts">
    {{ range where .Site.RegularPages "Type" "posts" | first 1 }}
    <article class="homepage-article">
      <h1>
      <a href="{{ .Permalink }}" class="title-latest-blogpost"> {{ .Title }}</a>
      </h1>
      <div class="homepage-article__date">{{ .Params.date.Format "2006-01-02" }}</div>
      <div class="homepage-article__author">{{ index .Params.author }}</div>
      <hr />
      <div class="content">
        {{ .Content }}
      </div>
    </article>
    {{ end }}
  </div>
</section>
</main> <!-- container -->
{{ end }}
